.tela {
    font-family: "Roboto", sans-serif;
    /* margin: -2vh; */
    padding: 0;
    background-color: #214B51;
    display: flex;
}

.cor-estrategias {
    background-color: #597b78bf;
    width: 35%;
    height: 87.9vh;
    margin-left: 74.2%;
    border-radius: 5px;
    /* border: 2px solid red; */
}

.coluna-estrategia {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;

}

.estrategias-para {
    color: #EAF4F4;
    font-size: 165%;
    margin-left: 5%;
}

.estrategia1 {
    background-color: #1e5159;
    color: #EAF4F4;
    margin-top: 2%;
    width: 100%;
    height: 7.5vh;
    margin-left: 5.1%;
    border-color: #1e515900;
    border-radius: 10px;
}
.estrategia2 {
    background-color: #1e5159;
    color: #EAF4F4;
    margin-top: -2%;
    width: 100%;
    height: 7.5vh;
    margin-left: 5.1%;
    border-color: #1e515900;
    border-radius: 10px;
}
.estrategia3 {
    background-color: #1e5159;
    color: #EAF4F4;
    margin-top: -2%;
    width: 100%;
    height: 7.5vh;
    margin-left: 5.1%;
    border-color: #1e515900;
    border-radius: 10px;
}
.estrategia4 {
    background-color: #1e5159;
    color: #EAF4F4;
    margin-top: -2%;
    width: 100%;
    height: 7.5vh;
    margin-left: 5.1%;
    border-color: #1e515900;
    border-radius: 10px;
}

.s1{
    font-size: 170%;
    margin-top: 5%;
    margin-left: -45%;
}

.s2{
    font-size: 170%;
    margin-top: 5%;
    margin-left: -45%;
}

.s3{
    font-size: 170%;
    margin-top: 5%;
    margin-left: -20%;
}

.s4{
    font-size: 170%;
    margin-top: 5%;
    margin-left: -10%;
}
.text{
    margin-top: -40%;
}
.text1{
    margin-top: -47%;
    font-size: 250%;
    margin-left: 2%;
}
.text2{
    margin-top: -2%;
    margin-left: 2%;
}
.estra{
    width: 100%;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 30%;
    padding-top: 0.1%;
}

.ppp2{
    margin-left: -2%;
}

.Preparacao{
    background-color: #597B78;
    color: #EAF4F4;
    margin-top: 2%;
    width: 60%;
    height: 7.5vh;
    border-color: #1e515900;
    border-radius: 10px;
}

.vizualizar{
    background-color: #597B78;
    color: #EAF4F4;
    margin-top: 2%;
    width: 60%;
    height: 7.5vh;
    border-color: #1e515900;
    border-radius: 10px;
}

.manter{
    background-color: #597B78;
    color: #EAF4F4;
    margin-top: 2%;
    width: 60%;
    height: 7.5vh;
    border-color: #1e515900;
    border-radius: 10px;
}

.dividir{
    background-color: #597B78;
    color: #EAF4F4;
    margin-top: 2%;
    width: 60%;
    height: 7.5vh;
    border-color: #1e515900;
    border-radius: 10px;
}

.historias{
    background-color: #597B78;
    color: #EAF4F4;
    margin-top: 2%;
    width: 60%;
    height: 7.5vh;
    border-color: #1e515900;
    border-radius: 10px;
}

.Tecnicas{
    background-color: #597B78;
    color: #EAF4F4;
    margin-top: 2%;
    width: 60%;
    height: 7.5vh;
    border-color: #1e515900;
    border-radius: 10px;
}

.reforco{
    background-color: #597B78;
    color: #EAF4F4;
    margin-top: 2%;
    width: 60%;
    height: 7.5vh;
    border-color: #1e515900;
    border-radius: 10px;
}

.introduzir{
    background-color: #597B78;
    color: #EAF4F4;
    margin-top: 2%;
    width: 60%;
    height: 7.5vh;
    border-color: #1e515900;
    border-radius: 10px;
}

.suporte{
    background-color: #597B78;
    color: #EAF4F4;
    margin-top: 2%;
    width: 60%;
    height: 7.5vh;
    border-color: #1e515900;
    border-radius: 10px;
}

.objetos{
    background-color: #597B78;
    color: #EAF4F4;
    margin-top: 2%;
    width: 60%;
    height: 7.5vh;
    border-color: #1e515900;
    border-radius: 10px;
}

.p{
    margin-top: 1.5%;
    font-size: 190%;
    margin-left: -72%;
}

.p2{
    margin-top: 1.5%;
    font-size: 190%;
    margin-left: -73%;
}

.p3{
    margin-top: 1.5%;
    font-size: 190%;
    margin-left: -65%;
}

.p4{
    margin-top: 1.5%;
    font-size: 190%;
    margin-left: -80%;
}

.p5{
    margin-top: 1.5%;
    font-size: 190%;
    margin-left: -81%;
}

.p6{
    margin-top: 1.5%;
    font-size: 190%;
    margin-left: -71%;
}

.p7{
    margin-top: 1.5%;
    font-size: 190%;
    margin-left: -80%;
}

.p8{
    margin-top: 1.5%;
    font-size: 190%;
    margin-left: -57%;  
}

.s1{
    font-size: 170%;
    margin-top: 5%;
    margin-left: -65.4%;
}

.p9{
    margin-top: 1.5%;
    font-size: 190%;
    margin-left: -78%;
}

.p10{
    margin-top: 1.5%;
    font-size: 190%;
    margin-left: -77%;
}

