*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }



.container {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #214B51;
    display: flex;
    padding: 10px 20px;
    min-height: 40vmax;
    min-width: 30vmax;
}

.sidebar {
   height: 30vmax;
    background-color: #597B78;
    margin-left: 60%;
    color: #EAF4F4;
    border-radius: 19px;
    border-color: #214B51;
    padding-left: 15%;
    margin-top: -40.35%;
    margin-right: 20px;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    background-color: #214B51;
    padding: 10px;
    border-radius: 10px;
    border-color: #214B51;
    
}

.sidebar ul li:hover {
    background-color: #a0a0a0;
    cursor: pointer;
}

.container {
    flex-direction: column;
    padding: 10px 20px;
    background-color:#214B51;
    color: #EAF4F4;
    border-radius: 19px;
    border-color: #597B78;
    text-decoration: none;

}

.container h3 {
    margin-top: 0;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container ul li {
    margin-bottom: 10px;
    background-color: #597B78;
    padding: 25px;
    border-radius: 10px;
    border-color: #597B78;
    
}

p{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #EAF4F4;

}

.container ul li:hover {
    background-color: #a1afa6;
    cursor: pointer;
}

.estrategias{
background-color: #1e515900;
color: #EAF4F4;


}


.colunas2{
    margin-right: 30vmax;
    margin-left: -5vmax;
    background-color: #1e5159;
color: #EAF4F4;
border-radius: 10%;
    }

.colunas3{
margin-right: 5vmax;
margin-left: -5vmax;
background-color: #1e5159;
color: #EAF4F4;
border-radius: 10%;
}
