
.inputs{
  margin-left: 5%;
}

.entrar{
        width: 460px;
        display: grid;
        grid-template-columns: auto auto ;
        border: 2px solid transparent;
}



.input {
  margin-left: 6%;
  height: 44px;
  width: 86%;
  background-color: #EAF4F4;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  margin-left: 27px;
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #EAF4F4;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #a3bbad;
}

.input-group:hover .label, .input:focus {
  color: #7a9183;
}

/* .search-bar {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #EAF4F4;
  border-bottom: 2px solid #9a9a9a;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #EAF4F4;
  color: #0E3B43;
  transition: all 0.3s ease;
}
.search-bar::placeholder {
  color: #0E3B43;
}

.search-bar:hover {
  background-color: #597B78;
}

.search-bar:active,
.search-bar:focus {
  background-color: #597B78;
  border: 1px solid #597B78;
  border-bottom: 2px solid #A3BBAD;
} */
  
.conteiner-1{
  padding-top: 1%;
}
.container{
  background-color: rgba(202, 222, 213, 0.192);
  width: 25%;
  height: 390px;
  padding: 3px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
  padding: 3% 4%;
  border-radius: 5%;
}

  .kk{
      padding-left: 34%;
      margin-top: -5%;
      margin-left: -2%;
  }
  h2{
      
   font-size: 65px;
   font-family: "Josefin Sans", sans-serif;
   color: #EAF4F4;
  }

  .mo{
    margin-left: 78%;
    margin-top: -10%;
  }

  .tim{
  font-family: "Roboto", sans-serif;
  color: #EAF4F4;
  padding-left: 25%;
  margin-left: -5%;
  }

  .tim1{
    font-family: "Roboto", sans-serif;
    color: #EAF4F4;
    padding-left: 25%;
    margin-left: -25mn;
  }
  
  h2{
      margin-top: 10%;
      font-family: "Josefin Sans", sans-serif;
      color: #EAF4F4;
  }
  
  .button {
    --color: #EAF4F4;
    padding: 0.8em 1.7em;
    background-color: #EAF4F4;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    color: #214b51;
    z-index: 1;
    margin-top: 2%;
    padding-top: -1px;
    margin-left: 35%;
     }
     
     .button::before, .button::after {
      content: '';
        display: block;
        width: 20%;
        height: 10px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: var(--color);
        transition: 1s ease;
     }
     
     .button::before {
      top: -1em;
      left: -1em;
     }
     
     .button::after {
      left: calc(100% + 1em);
      top: calc(100% + 1em);
     }
     
     .button:hover::before, .button:hover::after {
      height: 410px;
        width: 410px;
     }
     
     .button:hover {
      color: #214b51;
     }
     
     .button:active {
      filter: brightness(.8);
     }