.Bore{

    /* border: 5px solid rgb(10, 68, 162); */
    width: 100vw;
    height: 100vh;
    background-color: #155864;
    overflow: hidden;

}


.carrossel{
    /* border: 5px solid red; */
    height: 260px;
    width: 99.5%;
}

.div-carrossel{
  /* border: 5px solid salmon; */
  width: 90%;
  height: 180px; 
  margin-left: 124px;
  margin-top: 3%;
  
}

.carrossel_img{
width: 97%;
height: 100%;
border-radius: 19px;
}

.TEXTOP{
    width: 9%;
    height: 3.7%;
    font-size: 160%;
    margin-left: 3%;
    inline-size: 10%;
    margin-top: -1%;

    
}

.img-profissional1{
    border-radius: 200%;
    width: 25%;
    margin-left:4% ;
    margin-top: 3%;
}
.img-profissional2{
    border-radius: 200%;
    width: 25%;
    margin-left:4% ;
    margin-top: 3%;
}
.img-profissional3{
    border-radius: 200%;
    width: 25%;
    margin-left:4% ;
    margin-top: 3%;
}
.img-profissional4{
    border-radius: 200%;
    width: 25%;
    margin-left:4% ;
    margin-top: 3%;
}
.img-profissional5{
    border-radius: 200%;
    width: 25%;
    margin-left:4% ;
    margin-top: 3%;
}
.img-profissional6{
    border-radius: 200%;
    width: 25%;
    margin-left:4% ;
    margin-top: 3%;
}
.img-profissional7{
    border-radius: 200%;
    width: 25%;
    margin-left:4% ;
    margin-top: 3%;
}
.img-profissional8{
    border-radius: 200%;
    width: 25%;
    margin-left:4% ;
    margin-top: 3%;
}

.nome_Milena{

    display: flex;
    justify-content: space-around;
    margin-top: -20%;
    margin-left: 8%;
}

.nomes_Gustavo{

    display: flex;
    justify-content: space-around;
    margin-top: -20%;
    margin-left: 10%;
}

.nomes_Luciana{

    display: flex;
    justify-content: space-around;
    margin-top: -20%;
    margin-left: 15%;
}

.nomes_Lilia{

    display: flex;
    justify-content: space-around;
    margin-top: -20%;
    margin-left: 11%;
}

.nomes_Wanda{

    display: flex;
    justify-content: space-around;
    margin-top: -20%;
    margin-left: 8%;
}

.nomes_Aghata{

    display: flex;
    justify-content: space-around;
    margin-top: -20%;
    margin-left: 9%;
}

.nomes_James{

    display: flex;
    justify-content: space-around;
    margin-top: -20%;
    margin-left: 9%;
}

.nomes_Keisy{

    display: flex;
    justify-content: space-around;
    margin-top: -20%;
    margin-left: 9%;
}


.IMGS{
    width: 90%;
    height: 165px;
    margin-left: 95px;
    margin-top: 31px;
    border-radius: 15px;
}

P{
    font-family: "josefin Sans", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
    
}

.Nome_profissão{
    font-family: "josefin Sans", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 125px;
    margin-top: -15px;
}

.Button_profissional{
    margin-top: 27px;
    margin-left: 60%;
}


.profissionais{
display: flex;
justify-content: space-around;
margin-top: -4%;
margin-left: 0%;
flex-wrap: wrap;
height: 538px;
width: 99.5%;


}



.containe_profissional1{
    /* border: 5px solid chocolate; */
    width: 20%;
    height: 33%;
    margin-top: 3%;
    border-radius: 5%;
    background-color: #256976;
    margin-left: 1%;
}
.containe_profissional2{
    /* border: 5px solid chocolate; */
    width: 20%;
    height: 33%;
    margin-top: -0.5%;
    border-radius: 5%;
    background-color: #256976;
    margin-left: 1% ;
}


