.body-perfil {
    background-color: #214B51;


}


.Verde {
    /* border:  5px solid  rgb(11, 182, 22); */
    width: 100%;
    height: 8%;
}

.Azul {
    /* border:  5px solid  rgb(11, 96, 182); */
    width: 100%;
    height: 35%;
}

.Ciano {
    /* border:  5px solid  rgb(13, 231, 209); */
    width: 19.8%;
    height: 100%;
    margin-left: 80.2%;
    margin-top: -17%;
}

.Cinza {
    background-color: #1f5962d3;
    border:  0.1px solid  #1f5962d3;
    width: 60.0%;
    height: 100%;
    margin-left: 20%;
    margin-top: -19%;
   
}

.foto-u {
    width: 19%;
    height: 66%;
    border-radius: 100%;
    margin-left: 10%;
    border: 0px solid black ;
    display: flex;
    justify-content: space-around;
    margin-top: 4.5%;
}


.nome {
    display: flex;
    justify-content: space-around;
    margin-left: 35%;
    margin-top: -23%;
    font-size: 390%;
}

.idade {
    margin-left: 35.5%;
    margin-top: -1%;
    font-size: 150%;
}

.genero {
    margin-left: 35.5%;
    margin-top: 1%;
    font-size: 150%;
}

.Amarelo {
    background-color: #1f5962d3;
    width: 29%;
    height: 39%;
    display: flex;
    justify-content: space-around;
    margin-top: -39.02vmin;
    margin-left: 20%;

}

.info{
    margin-left: -57%;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.info-contato {
    display: flex;
    justify-content: space-around;
    font-size: 150%;
    width: 26vw;
    height: 7%;
    /* border: 5px solid blue ; */
    margin-top: 2%;
    margin-left: 15%;
    /* font-size: 160%;
    margin-left: 5%;
    margin-top: 4%;
    height: 8%;
    max-width: none;
    border: 5px solid blue ;
    width: 200vw; */

}
.contato{
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    /* border: 5px solid rgb(184, 46, 138) ; */
    width: 40%;
    height: 20%;
    margin-left: -109%;
    font-size: 120%;
}


.gmail {
    margin-top: 10%;
}

.butt-edi{
    height: 6vh;
    width: 7vw;
    border: 5px solid rgb(16, 32, 176);
    margin-top: 155%;
    margin-left: -180%;
    border-radius: 10px;
}

.butt-edi{
    --color: #EAF4F4;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    /* width: 15%; */
   }
 
   .butt-edi::before, .butt-edi::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
 
   .butt-edi::before {
    top: -1em;
    left: -1em;
   }
 
   .butt-edi::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
 
   .butt-edi:hover::before, .butt-edi:hover::after {
    height: 410px;
    width: 410px;
   }
 
   .butt-edi:hover {
    color: rgb(10, 25, 30);
   }
 
   .butt-edi:active {
    filter: brightness(.8);
   }

.butt-dele{
    height: 6vh;
    /* width: 10vw; */
    border: 5px solid blueviolet;
    margin-top: 45%;
    margin-left: 12%;
    border-radius: 10px;
}

.butt-dele {
    --color: #EAF4F4;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    /* width: 15%; */
   }
 
   .butt-dele::before, .butt-dele::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
 
   .butt-dele::before {
    top: -1em;
    left: -1em;
   }
 
   .butt-dele::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
 
   .butt-dele:hover::before, .butt-dele:hover::after {
    height: 410px;
    width: 410px;
   }
 
   .butt-dele:hover {
    color: rgb(10, 25, 30);
   }
 
   .butt-dele:active {
    filter: brightness(.8);
   }

.Laranja {
    background-color: #1f5962d3;
    width: 29%;
    height: 39.1%;
    display: flex;
    justify-content: space-around;
    margin-top: -19.4%;
    margin-left: 51%;
}
.detalhes {
    /* border: 5px solid rgb(249, 249, 249); */
    height: 10%;
    margin-left: -22%;
    font-size: 145%;

}
.marrom {
    /* border: 5px solid rgb(249, 249, 249); */
    height: 65%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: -155%;
    margin-top: 15%;
    font-size: 120%;
}
.Vermelho {
    /* border:  5px solid  rgb(223, 38, 22); */
    width: 19.8%;
    height: 100%;
}

.Rosa {
    /* border:  5px solid  rgb(171, 30, 199); */
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    margin-top: 0%;
}

.Roxo {
    /* border:  5px solid  rgb(74, 12, 208); */
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    margin-top: -19.85%;
    margin-left: 80%;
}

.Branco {
    /* border:  5px solid  rgb(249, 249, 249); */
    width: 100%;
    height: 4.9%;
    display: flex;
    margin-top: -0.1%;
    justify-content: space-around;
}

.label1{
    
}

