.body-perfil{
    background-color: #214B51;


}

.azul{
    border:  3px solid  rgb(11, 91, 182);
    width: 99.6%;
    height: 10%;
}

.laranja{
    border:  5px solid  rgb(205, 129, 7);
    width:  99.5%;
    height: 60%;
    display: flex;
}

.containe_um{
    border:  5px solid  rgb(205, 7, 7);
    width: 33.3%;
    display: flex ;
}

.keisy{
    width:  50%;
    height: 80%;
    /* border:  5px solid  rgb(184, 112, 112); */
    display: flex;
}

.Informações{
    /* border:  5px solid  rgb(103, 32, 174); */
    display: flex;
    height: 45%;
    width: 35%;
    margin-left: 16%;
    margin-top: -0%;
    flex-direction: column;
}

.sobre-mim{
    font-size: 170%;
    margin-left: 0%;
}
.info{
    font-size: 120%;
}
.botperfil{
    margin-top: 78%;
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    margin-left: -47%;
}
.containe_dois{
    border:  5px solid  rgb(192, 205, 7);
    width: 33.3%;
}

.containe_três{
    border:  5px solid  rgb(7, 205, 165);
    width: 33.3%;
}

.Verde{
    border:  5px solid  rgb(11, 182, 22);
    width: 99.5%;
    height: 15%;
}