.body-informaçoes{
  background-color: #214B51;
  margin-top: -1%;
  margin-left: -0.4%;
  width: 99.99vw;
}

.TEA{
  border: 2px solid red;
}

.Tra{
  border: 2px solid red;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 3;
  background-color: #214B51;
  color: #EAF4F4;
  padding: 20px;
}

.main-content h2 {
  margin-top: 0;
}


