root{
    --cor-1: #0e3b43;
    --cor-2: #214b51;
    --cor-3: #597b78;
    --cor-4: #a3bbad;
    --cor-5: #eaf4f4;
}
  
.body-perfil{
    background-color: #387480;
    width: 100vw;
    height: 100vh;
    margin: 0; 
    overflow: hidden;
    font-family: Arial, sans-serif;
}
.abacaxi{
    width: 37%;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    margin-top: 3%;
    margin-left: 2%;
    height: 68%;
}
.text-container{
    width: 100%;
    
}
.image-container {
    width: 30%; /* Tamanho da imagem */
    height: 32%; /* Tamanho da imagem */
    border-radius: 50%; /* Transforma a imagem em círculo */
    overflow: hidden; /* Esconde as partes da imagem fora do círculo */
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
    margin-top: 2%;
}

.image-container img {
    width: 100%; /* Para garantir que a imagem ocupe todo o espaço dentro do círculo */
    height: auto;
    display: block;
    align-items: left;
}

.text-container {
    flex: 1; /* Ocupa todo o espaço restante */
    margin-right: 21%;
    font-size: 100%;
}

.text-container h2 {
    margin-top: 20%;
    color: #eaf4f4;
    font-size: 56px;
    width: 200%;
    margin-left: 5%;
    display: flex;
}

.text-container h4 {
    margin-top: 7%;
    color: #eaf4f4;
    font-size: 30px;
    width: 200%;
    margin-left: 6%;
}

.text-container p {
    color: #eaf4f4;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 6%;
}

.edit-user{
    width: 8%;
    height: 3%;
    margin-top: 1%;
    margin-left: 2%;
    display: flex;
    justify-content: flex-end;
}

.Descrição{
    margin-top: 7%;
    color: #eaf4f4;
    background-color: #0E3B43;
    padding: 30px;
    width: 155%;
    height: 23%;
    border-radius: 20px;
    font-size: 150%;
    margin-left: 6%;
}

.Descrição p{
    margin-top: 1%;
    font-size: 15px;
}

.Detalhes{
    margin-top: 3%;
    color: #eaf4f4;
    background-color: #0E3B43;
    padding: 30px;
    width: 155%;
    height: 23%;
    border-radius: 20px;
    font-size: 150%;
    margin-left: 6%;
}
